@model Web.eBado.Models.Account.RegisterModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
            <div class="col-md-2"></div>
        <div class="row">
                <div class="col-md-8">
                    <!-- Nav tabs --><div class="card">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#basic" aria-controls="home" style="font-size:15px;" role="tab" data-toggle="tab">ZAKLADNY UCET</a></li>
                            <li role="presentation"><a href="#part-time" aria-controls="profile" style="font-size:15px;" role="tab" data-toggle="tab">PRACA NA DOHODU</a></li>
                            <li role="presentation"><a href="#self-employed" aria-controls="messages" style="font-size:15px;" role="tab" data-toggle="tab">ZIVNOSTNIK</a></li>
                            <li role="presentation"><a href="#company" aria-controls="settings" style="font-size:15px;" role="tab" data-toggle="tab">FIREMNY UCET</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="basic">
                                <form>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control txt-lg", @data_val = "true", @data_val_required = "Billing Address is required", @placeholder = "Email" } })
                                        @*<input required type="email" class="form-control txt-lg" placeholder="Email" id="email">*@
                                        <label class="label-form" for="email">error message for textbox</label>
                                    </div>
                                    <div class="form-group">
                                        <input required type="password" class="form-control txt-lg" placeholder="Username" id="pwd">
                                        <label class="label-form" for="pwd">error message for textbox</label>
                                    </div>
                                    @Html.Hidden("AccountType", "Basic")
                                    <button type="submit" class="form-btn">REGISTROVAT</button>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="part-time">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                            <div role="tabpanel" class="tab-pane" id="self-employed">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                            <div role="tabpanel" class="tab-pane" id="company">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage..</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }


